# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/
web-build/
dist/

# builds
builds

#codepush
private-devQaStg.pem
public-devQaStg.pem
private-prod.pem
public-prod.pem

#Appcenter analytics
AppCenter-Config.plist
appcenter-config.json

#Swagger
!generated/api/dist
tsconfig.tsbuildinfo

# fastlane
ios/fastlane/.env.*
ios/fastlane/.env
!ios/fastlane/.env.template
*.dSYM.zip
fastlaneBuilds/
ios/fastlane/apns
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/README.md

# Firebase
google-services.json
GoogleService-Info.plist

#Local Todo
*.todo

# .env Files
/.env.development
/.env.qa
/.env.staging
/.env.production
